.main {
  max-width: 1200px;
  margin: auto;
  h1 {
    font-size: 5rem;
    padding: 3rem 0 1rem 0;
  }

  h2 {
    font-family: "Lexend Zetta";
    font-size: 1.5rem;
    word-break: keep-all;
  }
  h3 {
    font-style: italic;
    font-size: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
  hr {
    max-width: 50%;
    margin: auto;
    border: 2px solid black;
    border-bottom: none;
    margin-bottom: 4rem;
  }

  ul {
    list-style-type: none;
    margin: auto;
    img {
      padding: 0;
    }

    .blogpost {
      border: 2px solid;
      width: 300px;
      height: fit-content;
      margin-bottom: 10px;
      padding: 0.7rem;
      text-align: left;
      display: inline;
      p {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      * {
        text-overflow: ellipsis;

        overflow: hidden;
        max-height: inherit;
        text-align: left;
        display: inline;
      }
      &:hover {
        background: #fbecdb;
      }
    }
  }

  section {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .main ul .blogpost {
    width: 500px;
  }
}
