@mixin selected {
  background: url("../../static/logo.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  max-width: 800px;
  margin: auto;
}

.nav {
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    display: flex;

    li {
      font-size: 3rem;
      font-weight: 400;
      padding: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.selected {
  @include selected;
}
