body {
  background: url("../../static/bg.svg");
  background-repeat: repeat-y;
  background-size: 120vw;
  background-position: center right;
}

img {
  width: 100%;
  border: green;
  padding: 2rem;
  filter: grayscale(1);
}
