.form {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 2px;

  input {
    &:focus {
      border: 2px solid;
      outline: none;
    }
    border: 1px solid;
    text-align: left;
    &[name="title"] {
      font-family: "Lexend Mega";
      font-size: 2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0.5rem;
      height: 4rem;
    }
  }
  textarea {
    border: 1px solid;
    text-align: left;
    height: 10rem;
    font-size: 1rem;
    resize: none;
    &:focus {
      border: 2px solid;
      outline: none;
    }
  }

  .buttons {
    border: 1px solid;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    button {
      border-radius: 2px;
      height: fit-content;
      padding: 0.5rem;
      font-family: "Lexend Mega";
      font-size: 1rem;
      cursor: pointer;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid;
        background: #fbecdb;
      }
    }
  }
}
