* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arapey";
  /* font-weight: 400; */
  text-align: center;
  background: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

button {
  background: none;
  border: 1px solid;
}
