.rte {
  background: none;
  outline: none;
  border: 1px solid;
  border-radius: 0;
  &:focus-within {
    border: 2px solid;
    outline: none;
  }
  div {
    border: none;
    float: left;
  }
  & > div {
    // padding: 2rem;
  }

  button {
    margin: 1rem;
    background: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    padding: none;
    display: flex;
    align-items: center;
    border: 2px solid;
  }
  * {
    font-size: 2rem;
  }
  .custom {
    background: transparent;
  }
}
