.main {
  max-width: 1200px;
  margin: auto;
  h1 {
    font-size: 5rem;
    padding: 3rem 0 1rem 0;
  }

  h2 {
    font-family: "Lexend Zetta";
  }
  hr {
    max-width: 50%;
    margin: auto;
    border: 2px solid black;
    border-bottom: none;
    margin-bottom: 4rem;
  }

  section {
    margin-bottom: 3rem;
  }

  nav ul {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
  }

  button {
    border: none;
    margin-bottom: 5rem;
  }

  button svg {
    max-width: 10rem;
  }
}

.main {
  max-width: 1200px;
  margin: auto;
  h1 {
    font-size: 5rem;
    padding: 3rem 0 1rem 0;
  }
  hr {
    max-width: 50%;
    margin: auto;
    border: 2px solid black;
    border-bottom: none;
    margin-bottom: 4rem;
  }

  article {
    width: 50%;
    margin: auto;

    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid;
    background-color: #ffeb87;
    h2 {
      margin-bottom: 1rem;
    }
    * {
      text-align: left;
      font-size: 1.6rem;
    }
    p {
      margin-top: 1rem;
    }
  }
}
