.main {
  max-width: 1200px;
  margin: auto;
  h1 {
    font-size: 5rem;
    padding: 3rem 0 1rem 0;
  }

  h2 {
    font-family: "Lexend Zetta";
  }
  hr {
    max-width: 50%;
    margin: auto;
    border: 2px solid black;
    border-bottom: none;
    margin-bottom: 4rem;
  }

  ul {
    list-style-type: none;
    .blogpost {
      border: 2px solid;
      margin: 2rem;
    }
  }

  section {
    margin-bottom: 3rem;
  }

  nav ul {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
  }
  button {
    border: none;
    margin-bottom: 5rem;
  }

  button svg {
    max-width: 10rem;
  }
}
